PORT=3001
CORS_ORIGIN=http://localhost:3000

DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=usuario
DB_PASSWORD="tu_contraseña"
DB_DATABASE=nombre_bd
DB_SYNCHRONIZE=true

JWT_SECRET=genera-un-secreto-largo-y-aleatorio
JWT_EXPIRES_IN=7d

ADMIN_EMAIL=admin@empresa.com
ADMIN_PASSWORD=Cambiar123!
ADMIN_NAME=Administrador
